
@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- banner -->
<div class="banner">
    <h2>View Payments</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Admin")</a>View Payments</p>
</div>
<!--//banner -->