
@{
    ViewData["Title"] = "ResetPasswords";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>Reset User Passwords</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Admin")</a>Manage Users » Reset Passwords</p>
</div>
<!--//banner -->