
@{
    ViewData["Title"] = "ViewCases";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>View Cases</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Admin")</a>View Cases</p>
</div>
<!--//banner -->