@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_LayoutLawyers.cshtml";

}

<header>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main-content">
                    <div class="signin-form profile">
                        <div class="signin-form">
                            <div>
                                <h1 class="text-danger">@ViewData["Title"]</h1>
                                <h2 class="text-danger">You do not have access to this resource.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
