
@{
    ViewData["Title"] = "Cases";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>CASES</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Client")</a>View My Cases</p>
</div>
<!--//banner -->
