
@{
    ViewData["Title"] = "Lawyer";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>VIEW LAWYERS</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Client")</a> <a>@Html.ActionLink("Cases »", "Cases", "Client")</a> View Lawyers</p>
</div>
<!--//banner -->