
@{
    ViewData["Title"] = "ManageProfile_ProfilePicture";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>EIDT PROFILE</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Client")</a> <a>@Html.ActionLink("Manage Profile »", "Index", "Client")</a> Upload Profile Picture</p>
</div>
<!--//banner -->


<form asp-area="" asp-controller="Client" asp-action="ManageProfile_ProfilePicture" method="post" enctype="multipart/form-data">
        <input type="file" name="ProfilePicture" accept="image/*"/>
        <input type="submit" value="Upload Profile Picture" />  
    </form>