
@{
    ViewData["Title"] = "SearchPage";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
}


<!-- banner -->
<div class="banner">
    <h2>SEARCH</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Client")</a>Search for a lawyer</p>
</div>
<!--//banner -->

<div class="container">
    <div class="header-address">
        <h2>Search for lawyers.</h2>
        <br />
    </div>
    <div>
        <p>You can search for lawyers by their names, location or/and areas of expertice.</p><br />
        <p>For example, "I'm in need of lawyer that provides legal advice on Land Documentations".</p><br />
    </div>
    <div class="modal-body modal-body-sub_agile">
        <div class="modal_body_left modal_body_left1">
            <input type="submit" value="View All Lawyers">

            <form action="#" method="post">
                <div class="styled-input agile-styled-input-top">
                    <input type="text" placeholder="I need a lawyer that.. " name="Name" required="">
                </div>
                <input type="submit" value="Search">
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
