
@{
    ViewData["Title"] = "Cases";
    Layout = "~/Views/Shared/_LayoutLawyers.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>View My Cases</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Lawyer")</a>Cases</p>
</div>
<!--//banner -->
