
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_LayoutLawyers.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>View Clients</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Lawyer")</a>Clients</p>
</div>
<!--//banner -->
