
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_LayoutLawyers.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>Payments History</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Lawyer")</a>History</p>
</div>
<!--//banner -->
