
@{
    ViewData["Title"] = "ManageProfile";
    Layout = "~/Views/Shared/_LayoutLawyers.cshtml";
}

<!-- banner -->
<div class="banner">
    <h2>Edit Profile</h2>
    <p><a>@Html.ActionLink("Home »", "Index", "Lawyer")</a>Edit Account / Profile</p>
</div>
<!--//banner -->
